table tr td .delete{
    float: right;
    background: url('img/delete.png') no-repeat 0;
    visibility: hidden;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
table tr:hover td .delete{
    visibility: visible;
}
