.reg-button {
	margin-right: 8px;
}

.buttons-container, .form-container {
	margin: 0 auto;
	width: 400px;
}

.buttons-container {
	width: 197px;
	margin-top: 124px;
	margin-bottom: 16px;
}

body {
	background: url('img/ignasi_pattern_s.png');
	font-family: Calibri, PT Sans;
	color: #333;
}

.admin-button-container{
    position: absolute;
    top: 16px;
    right: 16px;
}