.button {
	cursor: pointer;
}

.button:hover {
	color: blue;
	text-decoration: underline;
}

.reg-button {
	margin-right: 8px;
}

.buttons-container {
	margin-bottom: 8px;
}

.form-container {
	display: none;
}

.form-container label span {
	width: 64px;
    display: inline-block;
}

.form-container form div {
	margin-bottom: 8px;
}

/*
.reg {
	float:left;
}

.auth {
	margin-left:30px;
	float:left;
}

.reg div {
	padding:10px;
}

.auth div {
padding:10px;
}
.hidden {
	display:none;
}
form div label{
	margin-top:10px;
	display:block;
}

form div input{
	margin-left:30px
}

.RegButton, .AuthButton {
	float:right;
	margin-top:10px;
}

.showPanel {
	display:block;
}*/
