.reg-button {
	margin-right: 8px;
}

.buttons-container {
	margin-bottom: 8px;

}

.form-container {
	display: none;
}
.buttons-container, .form-container {
	margin: 0 auto;
	width: 400px;
	margin-top: 100px;
	
}

.buttons-container {
	width: 222px;
}

body {
	background: url('img/ignasi_pattern_s.png');
	font-family: Calibri, PT Sans;
	color: #333;
}